.messages__search {
  background-color: beige;
}

.messages__preview {
  background-color: chocolate;
}

.messages__conversation {
  background-color: rgb(102, 145, 145);
}

.profile-picture {
  border-radius: 50%;
  background-color: rgba(243, 236, 198, 0.404);
}